@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #383838c8;
    display: flex;  
}

/*ЛІВА ЧАСТИНА СТОРІНКИ*/

.left-side{
    background-image: url(/erix_fitnessClub/img/unsplash_U2q73PfHFpM.jpg);
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vw;
}

/*ПРАВА ЧАСТИНА СТОРІНКИ*/

.right-side{
    background-image: url(/erix_fitnessClub/img/unsplash_VJ2s0c20qCo.jpg);
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;  
}

.header{
    display: contents;
}

.title{
    font-size: 4vw;
    margin: 0;
    margin-left: 5vw;
    margin-bottom: 5vw;
    padding: 0;   
}

.location-boychuk{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.location-lobanovskiy{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.logo{
    width: 30vw;
    align-self: flex-end;
}

p{
    color: #2B2B2B;
    font-family:Russo One;
    margin-left: 5vw;
}
.header{
    display: contents;

}
  /* Стилі для випадаючого списку */
  /* Стилі для кнопки випадаючого списку */
.dropbtn {
    background-color: #393939af;
    color: white;
    width: 40vw;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: Raleway;
    margin-left: 5vw;
}

  /* Стилі для контейнера зі списком */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Стилі для списку */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
  /*Коли користувач наводить курсор на кнопку */
.dropdown:hover .dropdown-content {
    display: block; 
    margin-left: 5vw;
    width: 40vw;
    font-family: Raleway;
}
  /*Користувач забирає курсор від кнопки */
.dropdown:hover .dropbtn {background-color: #790a0ac7; color: #ffffff;}
  
 /*Стилі для частин випадаючої таблиці*/
tbody{
    height: 10vw;
}
.td-price{
    padding-left: 1.7vw;
}
  
.drop-second{
    margin-top: 2vw;
}
.tbody-solar{
    height: 5vw;
}
.td-price-solar{
    padding-left: 0.5vw;
}

.contacts{
    display: none;
}

/*Карта, стрілка, номер тел.*/
.big-map-p, .right-number{
    margin-top: 13vw;
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow: #000000 2px 2px 10px;
}

.right-map{
    margin-top: 0vw;
    border:solid;
    border-width: 5px;
    margin-left: 5vw;
    width:20vw;
    height:20vw;
    border-color: rgba(0, 0, 0, 0.478); 
}
.right-number{
    margin-top: 3vw;
}

.right-map-card{
    width:20vw;
    height:20vw;
}
.right-arrow{
    width: 7vw;
    position: absolute;
    right:10vw;
    top: 20vw;
    transform: scale(-1,1) rotate(55deg);
}

/*Акція*/

.btn{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 10vw;
    border-radius: 5px;
    overflow: hidden;
    transition: all .4s;
    margin-top: 10vw;
    align-self: center;
}
.btn .inner{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
}
  
.btn button{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 1vw;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    transform: scale(1.03);
}
  
.btn:hover .inner{
    left: 0;
}
  
.btn1 .inner{
    background: -webkit-linear-gradient(right, #353535e9,  #790a0ad4, #393939af,  #790a0acf);
}

.attention {
    align-self: flex-start;
    margin: 0;
    color: #ffffff;
    font-size: 1.7vw;
    margin-top:1vw;
    margin-left: 1vw;
    font-family: Raleway;
}
.take-fr {
    align-self: center;
    margin: 0;
    font-size: 1.5vw;
    color: #ffffff;
    margin-top: 0vw;
    margin-left: 2.5vw;
    font-family: Raleway;
}
.surprise {
    align-self: flex-end;
    margin: 0;
    font-size: 1.6vw;
    color: #ffffff;
    margin-right: 1vw;
    font-family: Raleway;
}

/*Футер*/

.footer-line{
    width: 90%;
    background-color: #000000;
    border: none;
    height: 1px;
    margin-top: 8vw;
}
.small-footer{
    display: flex;
}
.p-footer{
    font-size: 1vw;
    margin: 0;
    margin-left: 3vw;
    margin-top: 7vw;
    color: #2c2c2c;
    margin-right: 1vw;
}
.all-rights{
    margin-top: 1vw;
}
.img-socialmedia{
    width: 4vw;
    margin-left: 1vw;
    margin-top: 7vw;
    margin-right: 2.5vw;
    cursor: pointer;
}

/*Адаптивні стилі*/
/*1024 px*/

@media(max-width: 1024px){
    .right-side{
        background-size: cover;

    }
    .left-side{
        background-size: cover; 
    }
    .header{
        display: contents;
    }
    .p-footer{
        font-size: 1.4vw;
    }
    .img-socialmedia{
        width: 4vw;
        margin-left: 1vw;
        margin-top: 7vw;
        margin-right: 5vw;
    }
}

/*768 px*/
@media(max-width: 768px){
    .title{
        margin-top: 5vw;
        font-size: 5vw;
    }
    .location-boychuk{
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .location-lobanovskiy{
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .dropbtn {
        padding: 5px;
        font-size: 2vw;
    }
    tr{
        font-size: 1.7vw;
    }
    .big-map-p {
        margin-top: 19vw;
    }
    .right-arrow{
        top: 26vw;
    }
}

/*555 px*/
@media(max-width: 555px){
   
    .left-side{
        width: 100%;
    }
    .right-side{
        display: none;
    }
    .title{
        align-self: center;
        margin: 0;
        font-size: 7vw;
    }
    .logo{
        width: 35vw;
        align-self: center;
    }
    .locations{
        display: flex;
        justify-content: center;
    }
    .location-lobanovskiy, .location-boychuk{
        margin-bottom: 5vw;
        font-size: 3vw;
    }
    .location-boychuk{
        margin-left: 0;
    }
    .header{
        width: 96%;
        height: 13vw;
        background-color: rgb(42 42 42 / 71%);
        display: flex;
        justify-content: center;
        padding: 2%;
        margin-bottom: 3%;
    }

    .adaptive-loc, .adaptive-loc-sec{
        display: flex;
        flex-direction: column;
    }

    .dropbtn {
        margin-left: 0vw;
    }
    .dropdown:hover .dropdown-content {
        margin-left: 0vw;
    }
    .drop-loban{
        margin-left: 5vw;
    }

    .left-side{
        display: flex;

    }
   
    .map-p{
        margin-top: 10vw;
    }
    .map{
        align-self: center;
        margin-top: -35vw;
        border:solid;
        border-width: 5px;
        margin-right: 10vw;
        border-color: rgba(0, 0, 0, 0.478);
        box-shadow: #2B2B2B 5px 5px;
        align-self: flex-end;
    }
    .map-card{
        width:40vw;
        height:40vw;
    }

    .arrow{
        width: 20vw;
        margin-left: 20vw;
    }
    
    .number{
        font-size: 4vw;
    }
    .contacts{
        display: contents;
    }
    .p-footer{
        font-size: 2vw;
        margin-left: 5.5vw;
        margin-right: 5vw;
    }
    .img-socialmedia{
        width: 7.8vw;
        margin-left: 1vw;
        margin-right: 3vw;
    }
    .action{
        width: 50vw;
        height: 20vw;
        background-color: #2b2b2b87;
        margin-top: 10vw;
        align-self: center;
        border-radius: 1px;
        display: flex;
        flex-direction: column;
        font-family: Raleway;
    }
    .action:hover{
        background-color: #790a0ac7;
    }
    .attention {
        align-self: flex-start;
        margin: 0;
        color: #ffffff;
        font-size: 3.6vw;
        margin-top: 1.6vw;
        margin-left: 2vw;
        font-family: Raleway;
    }
    .take-fr {
        align-self: center;
        margin: 0;
        font-size: 3vw;
        color: #ffffff;
        margin-top: 1vw;
        margin-left: 4vw;
        font-family: Raleway;
    }
    .surprise {
        align-self: flex-end;
        margin: 0;
        font-size: 3vw;
        color: #ffffff;
        margin-right: 2vw;
        font-family: Raleway;
    }
    .btn{
        height: 20vw;
    }
    
}
/*377 px*/
@media(max-width: 377px){
    .locations{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .location-lobanovskiy{
        margin-left: 0;
    }
    .title{
        font-size: 9vw;
    }
    .location-lobanovskiy, .location-boychuk{
        font-size: 4vw;
        margin-bottom: 5vw;
        align-self: center;
    }

    .dropbtn {
        margin-left: 0vw;
        width: 70vw;
        font-size: 2.7vw;
    }
    .dropdown:hover .dropdown-content {
        margin-left: 0vw;
        width: 70vw;
    }
    .drop-loban{
        margin-left: 0vw;
    }

    tbody{
        height: 20vw;
    }
    tr{
        font-size: 2.5vw;
    }

    .p-footer{
        font-size: 2.5vw;
    }
    .img-socialmedia{
        width: 7.8vw;
        margin-left: 2vw;
        margin-right: 4vw;
    }
   

}

/*320 px*/
@media(max-width: 320px){
    .header{
        width: 96%;
        height: 15vw;
        margin-bottom: 5%;
    }
    .logo{
        width: 50vw;
        align-self: center;
    }
    .location-boychuk{
        margin-bottom: 5vw;
    }
}