@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #383838c8;
    display: flex;  
}

/*ЛІВА ЧАСТИНА СТОРІНКИ*/

.left-side{
    background-image: url(/erix_fitnessClub/img/unsplash_U2q73PfHFpM.jpg);
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vw;
}

/*ПРАВА ЧАСТИНА СТОРІНКИ*/

.right-side{
    background-image: url(/erix_fitnessClub/img/unsplash_VJ2s0c20qCo.jpg);
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;  
}

.header{
    display: contents;
}

.title{
    font-size: 4vw;
    margin: 0;
    margin-left: 5vw;
    margin-bottom: 1vw;
    padding: 0;   
}

.location-boychuk{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.location-lobanovskiy{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.logo{
    width: 30vw;
    align-self: flex-end;
}

p{
    color: #2B2B2B;
    font-family:Russo One;
    margin-left: 5vw;
}
.header{
    display: contents;

}
 
 /*Стилі для  таблиці*/
 table{
    width: 90%;
    margin-left: 3vw;
 }
tbody{
    font-family: Raleway;
    font-size: 1.1vw;
}
th{
    font-family: Raleway;
    font-size: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr{
    border-bottom: solid;
    background-color: #969696ad;
}
.td-price{
    padding-left: 1.7vw;
}
.tbody-solar{
    height: 5vw;
}
.td-price-solar{
    padding-left: 0.5vw;
}
.contacts{
    display: none;
}

/*Карта, стрілка, номер тел.*/
.big-map-p, .right-number{
    margin-top: 28vw;
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow: #000000 2px 2px 10px;
}

.boychuk-map{
    margin-top: 0vw;
    border:solid;
    border-width: 5px;
    margin-left: 5vw;
    width:20vw;
    height:20vw;
    border-color: rgba(0, 0, 0, 0.478); 
}
.loban-map{
    margin-top: 11vw;
}
.right-number{
    margin-top: 3vw;
}

.right-map-card{
    width:20vw;
    height:20vw;
}
.right-arrow{
    width: 7vw;
    position: absolute;
    right:10vw;
    top: 35vw;
    transform: scale(-1,1) rotate(55deg);
}


.attention {
    align-self: flex-start;
    margin: 0;
    color: #ffffff;
    font-size: 1.7vw;
    margin-top:1vw;
    margin-left: 1vw;
    font-family: Raleway;
}
.take-fr {
    align-self: center;
    margin: 0;
    font-size: 1.5vw;
    color: #ffffff;
    margin-top: 0vw;
    margin-left: 1.9vw;
    font-family: Raleway;
}
.surprise {
    align-self: flex-end;
    margin: 0;
    font-size: 1.6vw;
    color: #ffffff;
    margin-right: 1vw;
    font-family: Raleway;
}

/*Футер*/

.footer-line{
    width: 90%;
    background-color: #000000;
    border: none;
    height: 1px;
    margin-top: 8vw;
}
.small-footer{
    display: flex;
}
.p-footer{
    font-size: 1vw;
    margin: 0;
    margin-left: 3vw;
    margin-top: 7vw;
    color: #2c2c2c;
    margin-right: 1vw;
}
.all-rights{
    margin-top: 1vw;
}
.img-socialmedia{
    width: 4vw;
    margin-left: 1vw;
    margin-top: 7vw;
    margin-right: 2.5vw;
    cursor: pointer;
}
.instagram{
    width: 5vw;
    margin-top: 6.6vw;
    opacity: 0.8;
}

/*Акція*/
.action{
    width: 30vw;
    height: 10vw;
    background-color: #2b2b2bc2;
    margin-top: 10vw;
    align-self: center;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    font-family: Raleway;
}
.action:hover{
    background-color: #790a0ac7;
}

.gym-text{
    width: 90%;
    background-color: #2b2b2bb9;
    margin-left: 3vw;
    color: #ffffff;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
    font-size: 1.2vw;

}

.num{
    font-size: 1.5vw; 
    color: #790a0ac7;
    margin: 0;
    margin-left: 5vw;
}

.small-map{
    display: none;
}

.action-small-width{
    display: none;
}

/*Адаптивні стилі*/
/*1024 px*/

@media(max-width: 1024px){
    .right-side{
        background-size: cover;

    }
    .left-side{
        background-size: cover; 
    }
    .header{
        display: contents;
    }
    .p-footer{
        font-size: 1.4vw;
    }
    .img-socialmedia{
        width: 4vw;
        margin-left: 1vw;
        margin-top: 7vw;
        margin-right: 5vw;
    }
    .instagram{
        width: 5vw;
        margin-top: 6.6vw;
    }
    
  
}

/*768 px*/
@media(max-width: 768px){
    .title{
        margin-top: 5vw;
        font-size: 5vw;
    }
    .title-gym{
        margin-top: 0;
        font-size: 2.49vw; 
        margin-bottom:5vw;
    }
    .location-boychuk{
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .location-lobanovskiy{
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    .dropbtn {
        padding: 5px;
        font-size: 2vw;
    }
    tr{
        font-size: 1.7vw;
    }
    .big-map-p {
        margin-top: 36vw;
    }
    .right-arrow{
        top: 45vw;
    }

    .loban-map{
        margin-top: 32vw;
    }
    th {
        font-size: 1.4vw;
    }
    .gym-text {
        font-size: 1.8vw;
        letter-spacing: 0.7px;
    }
}

/*555 px*/
@media(max-width: 555px){

   
    .left-side{
        width: 100%;
    }
    .right-side{
        display: none;
    }
    .title{
        align-self: center;
        margin: 0;
        font-size: 7vw;
    }
    .logo{
        width: 35vw;
        align-self: center;
    }
    .locations{
        display: flex;
        justify-content: center;
    }
    .location-lobanovskiy, .location-boychuk{
        margin-bottom: 5vw;
        font-size: 4vw;
        align-self: center;
        text-align: center;
    }
    .location-boychuk{
        margin-left: 0;
        margin-bottom: 2vw;
    }

    .location-lobanovskiy{
        margin-bottom: 3vw;
        margin-top: 10vw;
    }


    .header{
        width: 96%;
        height: 13vw;
        background-color: rgb(68 68 68 / 66%);
        display: flex;
        justify-content: center;
        padding: 2%;
        margin-bottom: 3%;
    }

    .adaptive-loc, .adaptive-loc-sec{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;
    }

    .left-side{
        display: flex;
    }

    
    .contacts{
        display: contents;
    }
    .p-footer{
        font-size: 2vw;
        margin-left: 5.5vw;
        margin-right: 5vw;
    }
    .img-socialmedia{
        width: 7.5vw;
        margin-left: 1vw;
        margin-right: 3vw;
    }
    .instagram{
        width: 8.8vw;
        margin-top: 6.6vw;
        opacity: 0.8;
    }
    
    .action{
        display: none;
    }
    .action-small-width{
        width: 50vw;
        height: 20vw;
        background-color: #2b2b2b87;
        margin-top: 2vw;
        align-self: center;
        border-radius: 1px;
        display: flex;
        flex-direction: column;
        margin-bottom: 2vw;
        font-family: Raleway;
    }

    .action:hover{
        background-color: #790a0ac7;
    }

    .attention {
        align-self: flex-start;
        margin: 0;
        color: #ffffff;
        font-size: 3.6vw;
        margin-top: 1.6vw;
        margin-left: 2vw;
        font-family: Raleway;
    }
    .take-fr {
        align-self: center;
        margin: 0;
        font-size: 3vw;
        color: #ffffff;
        margin-top: 1vw;
        margin-left: 4vw;
        font-family: Raleway;
    }
    .surprise {
        align-self: flex-end;
        margin: 0;
        font-size: 3vw;
        color: #ffffff;
        margin-right: 2vw;
        font-family: Raleway;
    }
    p{
        margin-left: 0vw;
    }
    table{
        height: 30vw;
    }
    .solar-table{
        width: 50%;
        align-self: center;
        margin-left: 0vw;
        height: 15vw;
    }
    .solar-text{
        width: 50%;
        align-self: center;
        margin-left: 0;
    }
    .big-map-p{
        margin-top: 6vw;
        align-self: center;
        font-size: 3vw;
        
    }
    .boychuk-map{
        align-self: center;
        margin-left: 0;
        width: 30vw;
        height: 30vw;
    }
    .right-map-card{
        width: 30vw;
        height: 30vw;
    }
    .small-map{
        display: block;
    }
    
    tr {
        font-size:2.2vw;;
    }
    .gym-text {
        font-size: 2.5vw;
        letter-spacing: 0.7px;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }
    th {
        font-size: 2vw;
    }
    .title-gym{
        font-size: 4.6vw;
    }

    .num{
        font-size: 2vw; 
        color: #790a0ac7;
        align-self: center;
        margin: 0;

    }
   
    
}
/*377 px*/
@media(max-width: 377px){
    .locations{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .location-lobanovskiy{
        margin-left: 0;
    }
    .title{
        font-size: 9vw;
    }
    .location-lobanovskiy, .location-boychuk{
        font-size: 5vw;
        margin-bottom: 3vw;
        align-self: center;
    }

    .dropbtn {
        margin-left: 0vw;
        width: 70vw;
        font-size: 2.7vw;
    }
    .dropdown:hover .dropdown-content {
        margin-left: 0vw;
        width: 70vw;
    }
    .drop-loban{
        margin-left: 0vw;
    }

    .action{
        margin-top: 5vw;
        margin-bottom: 2vw;
    }

    tbody{
        height: 20vw;
    }

    .p-footer{
        font-size: 2.5vw;
    }
    .img-socialmedia{
        width: 7.8vw;
        margin-left: 2vw;
        margin-right: 4vw;
    }
    .instagram {
        width: 10vw;
        margin-top: 6.2vw;
    }

    table{
        height: 30vw;
        margin-left: 4vw;
    }
    .solar-table{
        width: 50%;
        align-self: center;
        margin-left: 0vw;
        height: 15vw;
    }
    .solar-text{
        width: 50%;
        align-self: center;
        margin-left: 0;
    }
    .big-map-p{
        margin-top: 6vw;
        align-self: center;
        font-size: 4vw;   
    }
    .boychuk-map{
        align-self: center;
        margin-left: 0;
        width: 40vw;
        height: 40vw;
    }
    .right-map-card{
        width: 40vw;
        height: 40vw;
    }
    .small-map{
        display: block;
    }
    
    tr {
        font-size: 2.9vw;
        padding: 2vw;
    }
    .gym-text {
        font-size: 2.5vw;
        letter-spacing: 0.7px;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        margin-left: 4vw;
    }
    .solar-table{
        width: 50%;
        align-self: center;
        margin-left: 0vw;
        height: 15vw;
    }
    .solar-text{
        width: 50%;
        align-self: center;
        margin-left: 0;
    }
 
    th {
        font-size: 2.8vw;
    }
    .title-gym{
        font-size: 4.6vw;
    }

    .num{
        font-size: 3vw; 
        color: #790a0ac7;
        align-self: center;
        margin: 0;
    }
   
   

}

/*320 px*/
@media(max-width: 320px){
    .header{
        width: 96%;
        height: 15vw;
        margin-bottom: 5%;
    }
    .logo{
        width: 50vw;
        align-self: center;
    }
    .location-boychuk{
        margin-bottom: 5vw;
    }
}