@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);

html {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    
}

.main{
 width: 100%;
 height: auto;
 display: flex;
}
.left-side{
    background-image: url(/erix_fitnessClub/img/unsplash_U2q73PfHFpM.jpg);
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.right-side{
    background-image: url(/erix_fitnessClub/img/unsplash_VJ2s0c20qCo.jpg);
    width: 50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;  
}
.header{
    display: contents;
}
.title{
    font-size: 4vw;
    margin: 0;
    margin-left: 5vw;
    margin-bottom: 5vw;
    padding: 0;
    
}

.location-boychuk{
    font-size: 2vw;
    margin-bottom: 15vw;
}
.location-lobanovskiy{
    font-size: 2vw;
    margin-bottom: 15vw;
}
.logo{
    width: 30vw;
    align-self: flex-end;
}
p{
    color: #2B2B2B;
    font-family:Russo One;
    margin-left: 5vw;
}
.header{
    display: contents;

}

@media(max-width: 1024px){
    .right-side{
        background-size: cover;

    }
    .left-side{
        background-size: cover; 
    }
    .header{
        display: contents;
    }
}
@media(max-width: 768px){
    .title{
        margin-top: 5vw;
        font-size: 5vw;
    }
    .location-boychuk{
        font-size: 3vw;
        margin-bottom: 25vw;
    }
    .location-lobanovskiy{
        font-size: 3vw;
        margin-bottom: 25vw;
    }
}

@media(max-width: 555px){
   
    .left-side{
        width: 100%;
    }
    .right-side{
        display: none;
    }
    .title{
        align-self: center;
        margin: 0;
        font-size: 7vw;
    }
    .logo{
        width: 35vw;
        align-self: center;
    }
    .locations{
        display: flex;
        justify-content: center;
    }
    .location-lobanovskiy, .location-boychuk{
        margin-bottom: 50vw;
        font-size: 3vw;
    }
    .location-boychuk{
        margin-left: 0;
    }
    .header{
        width: 96%;
        height: 13vw;
        background-color: rgb(42 42 42 / 71%);
        display: flex;
        justify-content: center;
        padding: 2%;
        margin-bottom: 3%;
    }
    
}

@media(max-width: 377px){
    .locations{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .location-lobanovskiy{
        margin-left: 0;
    }
    .title{
        font-size: 9vw;
    }
    .location-lobanovskiy, .location-boychuk{
        font-size: 4vw;
        margin-bottom: 80vw;
    }
}

@media(max-width: 320px){
    .header{
        width: 96%;
        height: 15vw;
        margin-bottom: 5%;
    }
    .logo{
        width: 50vw;
        align-self: center;
    }
    .location-boychuk{
        margin-bottom: 100vw;
    }
}
